// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-family-sans-serif: Oswald, Arial, sans-serif;
$font-family-serif: Raleway, Georgia, serif;
$body-bg: #A1B2B0;